.explainationContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.promptContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}
.selectHeading {
  margin-bottom: 0;
}

.smallText {
  font-size: 14px;
}
