.explainationContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.promptContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  margin: 40px 0px 100px 0px;
}
.selectHeading {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.1em;
  text-align: center;
}

.smallText {
  font-size: 14px;
}
