.smartUrlContainer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  max-width: 480px;
  flex-wrap: wrap;

  a {
    border: 2px solid #e1e1e1;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    box-shadow: 3px 4px gray;
    margin: 8px;
  }

  img {
    height: 32px;
  }
}
