@import "../../styles/responsive.scss";

.container {
  display: flex;
  // justify-content: space-between;
}

.icon {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #808080cc;
  cursor: pointer;
  margin-left: 20px;

  img {
    width: 100%;
  }
}

.desktopOnly {
  display: none;

  @include respond-to("large") {
    display: inherit;
  }
}

.deviceOnly {
  display: inherit;

  @include respond-to("large") {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .ios {
    display: none;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .android {
    display: none;
  }
}

input[type="text"].copyShareLink {
  // font-size: 14px;
  // height: 30px;
  // margin: 20px 0 0 0;
  // padding: 6px 6px 6px 12px;
  // background-color: #fdfddf;
  // border-color: gray;
  // color: gray;

  // hide input
  height: 0;
  width: 0;
  display: block;
  padding: 0;
  margin: 0;
  opacity: 0;
}
