@import "../../styles/responsive.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #808080cc;
  cursor: pointer;
  margin: 0 10px 16px 10px;

  img {
    width: 100%;
  }
}

.desktopOnly {
  display: none;

  @include respond-to("large") {
    display: inherit;
  }
}

.deviceOnly {
  display: inherit;

  @include respond-to("large") {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .ios {
    display: none;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .android {
    display: none;
  }
}

input[type="text"].copyShareLink {
  font-size: 14px;
  height: 30px;
  margin: 20px 0 0 0;
  padding: 6px 6px 6px 12px;
  background-color: #fdfddf;
  border-color: gray;
  color: gray;
}
