@import "../../styles/responsive.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px 16px 4px;
  width: 75px;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #808080cc;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.iconText {
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: black;
  text-decoration: none;
  margin-top: 4px;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.25em;
}

.desktopOnly {
  display: none;

  @include respond-to("large") {
    display: flex;
  }
}

.deviceOnly {
  display: flex;

  @include respond-to("large") {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .ios {
    display: none;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .android {
    display: none;
  }
}

input[type="text"].copyShareLink {
  font-size: 14px;
  height: 30px;
  margin: 20px 0 0 0;
  padding: 6px 6px 6px 12px;
  background-color: #fdfddf;
  border-color: gray;
  color: gray;
}
